*{
  margin:0px;
  padding:0px;
}
body{
  background-color: black;
}

#top{
  color:rgb(245, 10, 10);
  text-align:center;
  font-size:46px;
  font-family: 'Ubuntu Mono', monospace;
}
#top1{
  text-align:center;
  color:beige;
  font-size:21px;
  font-family: 'Ubuntu Mono', monospace;
}



#navbar{
  display:flex;
  flex-direction: column;
  background-color: gray;
  height: 14vh;
  width: 100vw;
  font-family: 'Ubuntu Mono', monospace;
  margin-top:10px;
 border: 2px solid black;
 border-radius:15px;
}


#navcontent{
  display: flex;
  justify-content: center;
}



ul li{
  list-style: none;
  margin: 15px;
  border-radius: 20px;
}
ul li a{
  padding: 1px;
  color:white;
  text-decoration: none;
  border-radius:10px;
}
ul li a:hover{
  background-color: red;
  border-radius: 10px;
}

#container1{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height:63vh;
}



#row1{
 color: blue;
  font-weight:bold;
  font-size: 22px;
  text-align: center;
  margin-top: 35px;
}

.btn{
  margin-top:15px;
  border: 3px solid white;
  border-radius:15px;
  background-color:yellow;
  font-size:20px;
  font-weight: bold;
  font-family: 'Ubuntu Mono', monospace;
}
.btn:hover{
  cursor: pointer;
  background-color: red;
}


